.video {
  /* background-color: red; */
  width: 99.8%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  overflow-x: hidden;
}

.Typography {
  /* background-color: red; */
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.container-list {
  display: flex;
  /* background-color: green; */
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  /* overflow-x: hidden; */
}
