.MuiButton-contained {
  background-color: inherit !important;
  box-shadow: none !important;
  /* overflow: hidden; */
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  background-color: black;
  width: 60%;
  margin-left: -0.2rem;
  justify-content: center;
}

.container-modal-title {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
}

.title-Favorite {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  opacity: 1;
  color: white;
}

.close {
  display: flex;
  color: white !important;
  width: 10%;
  justify-content: flex-end;
  align-self: flex-start;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  opacity: 1;
}

.customWidth {
  width: 370px;
  height: 330px;
  display: flex;
  position: relative;
  margin-left: -6rem;
  margin-top: 1rem;
}

/* ---------------------scrollbar----------------------- */
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #404040;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  /* border: 1px solid #000; */
}

/* -------------------------------------------- */

.MuiPopover-root.customWidth {
}

.fas.fa-music.fa-1x {
  margin-top: 3rem;
  margin-left: 3rem;
  cursor: pointer;
  color: black;
  font-size: 3rem;
  animation: spin 0s linear infinite;
}

.fas.fa-music.fa-1x:hover {
  transform: scale(1.3);
  color: black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    /* -webkit-transform: rotate(360deg); */
    /* transform: rotate(360deg); */
    color: white;
    transform: scale(1);
  }
  20% {
    /* -webkit-transform: rotate(360deg); */
    /* transform: rotate(360deg); */
    color: red;
    transform: scale(1.1);
  }
  40% {
    /* -webkit-transform: rotate(360deg); */
    /* transform: rotate(360deg); */
    color: yellow;
    transform: scale(1.2);
  }
  60% {
    /* -webkit-transform: rotate(360deg);
    transform: rotate(360deg); */
    color: black;
    transform: scale(1.3);
  }
  80% {
    /* -webkit-transform: rotate(360deg);
    transform: rotate(360deg); */
    color: green;
    transform: scale(1.4);
  }
  100% {
    /* -webkit-transform: rotate(360deg);
    transform: rotate(360deg); */
    color: white;
    transform: scale(1.5);
  }
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  /* background-color: green; */
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .fas.fa-music.fa-1x {
    font-size: 1.8rem;
    margin-left: -0.5rem;
    margin-top: 0rem;
    cursor: pointer;
    color: black;
    animation: spin 0s linear infinite;
  }
  .fas.fa-music.fa-1x:hover {
    /* transform: scale(1.5); */
    /* opacity: 1; */
    animation: spin 1s linear infinite;
  }

  .title-Favorite {
    width: 200px;
    margin-left: 0rem;
  }

  .container-modal-title {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .customWidth {
    display: flex;
    max-width: 100%;
    height: 490px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-left: 1.2rem;
    border: none !important;
    outline: none !important;
  }

  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    border: none !important;
    outline: none !important;
    /* background-color: red; */
  }
}
