.container-favorite {
  display: flex;
  /* background-color: red; */
  align-items: center;
  flex-direction: column;
  width: 92%;
  height: 80vh;
  display: flex;
  border-radius: 10px;
  /* margin-left: 1rem; */
  color: white;
  /* overflow-x: hidden; */
}
.title-favorite {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  flex-direction: row;
  font-size: 3rem;
  animation: rollIn;
  animation-duration: 1s;

  /* background-color: blue; */
}

.choose-song-title {
  /* display: flex; */
  /* background-color: red; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: -15rem;
  width: 100%;
  font-size: 2rem;
}

.choose-song-title span {
  text-decoration-color: white;
  text-decoration: underline;
  color: white;
  font-weight: 500;
}

.choose-song-title span:hover {
  text-decoration-color: white;
}

.all-favorite-video {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  /* flex-basis: 35.3%; */
  /* max-width: 400px; */
  width: 100%;
  height: 77vh;
  /* background-color: red; */
  overflow-x: hidden;
}

.favorite-container {
  display: flex;
  /* margin: auto; */
  margin: 1rem;
  padding: 15px;
  min-width: 330px;
  /* flex-basis: 330px; */
  height: 300px;
  flex-wrap: wrap;
}
/* .favorite-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  min-width: 30%;
  height: 40%;
} */

.fas.fa-heart.fa-2x.favorite {
  height: 10px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  color: white;
  cursor: pointer;

  /* margin-top: 1.7rem;
    margin-left: 0.6rem; */
  /* transition: all 0.2s ease-in-out; */
}

.fas.fa-heart.fa-2x.favorite:hover {
  transform: scaleY(0.8);
  transition: all 0.5s ease-in-out;
  color: rgb(151, 151, 151);
  font-size: 2rem;
}

.fas.fa-heart.fa-2x.favorite {
  color: white;
  margin-top: 1.6rem;
}

/* 
  .favorite-container > .fas.fa-heart.fa-2x {
    color: white;
    margin-top: 1.6rem;
  } */
/* .favorite-container > .fas.fa-heart.fa-2x:hover {
    color: black;
    transform: scale(1.2);
  } */

.myspinner {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  height: 100vh;
  overflow-x: overlay;
}

.myspinner::-webkit-scrollbar {
  width: 10px;

  display: none;
}

/* ---------------------scrollbar----------------------- */

.all-favorite-video::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.all-favorite-video::-webkit-scrollbar {
  width: 10px;

  /* display: none; */
}

.all-favorite-video::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

/* -------------------------------------------- */

@media (max-width: 700px) {
  .title-favorite {
    margin-left: -1rem;
    margin-top: -3rem;
  }
  .container-favorite {
    /* background-color: red; */
    /* height: 100%; */
    height: 72vh;
    margin-top: 2rem;
  }
  .myspinner {
    width: 90%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
    height: 100vh;
  }

  .choose-song-title {
    display: block;
    /* background-color: red; */
    justify-content: center;
    margin-top: -15rem;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    /* background-color: red; */
  }
}
