body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: url("assets/background2.png") CENTER no-repeat;
  /* background-size: cover; */
  /* overflow: hidden; */
  /* background-size: 100% 104%, cover;
  margin-top: 2.6rem; */

  /* background: url("assets/background1.png") CENTER no-repeat; */
  /* background: transparent url("assets/background.jpg") CENTER no-repeat; */
  /* background-size: cover; */
  /* background-size: 100% 100%; */
  /* margin-top: 3.5rem; */

  /* background: none transparent; */
  /* z-index: -1; */
  /* background-position: -200px 35px; */
  /* background-size: 100% 100%; */
  /* border: 1px solid black; */
  /* opacity: 0.6; */
  /* width: 00%; */
  /* overflow: hidden; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center; */
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(44) 0s 1 normal both,
    blinkTextCursor 0ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
    color: white;
    font-size: 2rem;
  }
  to {
    width: 50em;
    /* font-weight: bold; */
    color: white;
    font-size: 2rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.my-marquee {
  width: 500px;
  height: 200px;
  /* background: red; */
  color: white;
  font-size: 3rem;
  animation: centerme 2s;
  -webkit-animation: centerme 2s;
  position: absolute;
  z-index: 0; /* To ensure that box is always on the top */
  animation-fill-mode: forwards; /* So that box doesn't move back to default place*/
  -webkit-animation-fill-mode: forwards;
}

@keyframes centerme {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 40%;
    top: 400%;
    margin-top: -150px;
    margin-left: -150px;
  }
  /* Left and Top are 50% with margins which are half of width and height */
}

@-webkit-keyframes centerme {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
    margin-left: -150px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.video-title {
  margin-top: -5rem;
}

/* ---------------------scrollbar----------------------- */
.app-cont::-webkit-scrollbar-track,
.all-video-container::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.app-cont::-webkit-scrollbar,
.all-video-container::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

.app-cont::-webkit-scrollbar-thumb,
.all-video-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

/* -------------------------------------------- */

@media (max-width: 700px) {
  body {
    /* background-size: 100% 110%; */
    background-size: cover;

    /* background-size: 100% 110%, cover, center; */
  }
}
